.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hidden {
    display: none;
}

html, body {
    margin: 0;
    border: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    margin-top: -70px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

#clock {
    margin-bottom: 0;
    padding-top: 20%;
    top: 20%;
    color: darkorange;
    font-size: 95px;
    font-family: Impact;
    text-align: center;
}

#greeting {
    color: sandybrown;
    font-size: 40px;
    font-family: monospace;
}

#todo-form input{
    width: 350px;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: monospace;
}

#todo-form input::placeholder {
    color: black;
}

#todo-list {
    position: relative;
    left: 45%;
    width: 10%;
    padding-left: 10px;
    background-color: beige;
    opacity: 60%;
    list-style: none;
    text-align: left;
}

#todo-list li {
    padding-top: 2px;
    padding-bottom: 2px;
}

#todo-list button {
    color: red;
    font-weight: bolder;
    margin-right: 20px;
}

#todo-list span {
    color: darkblue;
}

#quote {
    position: relative;
    left: 40%;
    width: 20%;
    background-color: black;
    font-family:'Franklin Gothic Medium';
    color: white;
    opacity: 65%;
}

#quote #quote-author {
    font-family: Arial;
}

#weather {
    position: absolute;
    top: 5%;
    left: 92.5%;
    font-size: 20px;
    color: white;
}